body
{
	background-color : palegoldenrod;	/*I chose this specific colour for the background since it is a similar colour to
										the background of the 1989 album*/
	color : mediumorchid;	/*The shirt Taylor is wearing is similar in colour. I chose these two colours to create a 
							colour scheme for the album*/
	font-family : consolas, monaco, monospace;
	font-size : 14pt;
}

ol, a
{
	color : orangered;
}

#Title
{
	text-align : center;
}

#top
{
	text-align : center;
	font-size : 20pt;	/*The sentence itself is also a larger font than the rest of the body. It is also centered so that
						it sticks out*/
}

#TOP
{
	font-size : 25pt; 	/*I made the specific word 'top' larger than the rest of the sentence so that it stands out and is
						easy to see and click*/
}