body
{
	background-color : rgb(245, 212, 147); 	/*I followed the same colour scheme as the album. These two colours are the
											closest I could get to the colour of the stairs and the colour of the 
											background */
	color : rgb(26, 90, 145);
	font-family : Segoe UI, "Arial narrow", sans-serif; /*I chose this specific font since it is similar to the font
														of the album title */
	font-size : 16pt;
}

ol, a
{
	color : black;
}

#Title
{
	text-align : center;
}

#top
{
	text-align : center;
	font-size : 20pt;	/*The sentence itself is also a larger font than the rest of the body. It is also centered so that
						it sticks out*/
}

#TOP
{
	font-size : 25pt; 	/*I made the specific word 'top' larger than the rest of the sentence so that it stands out and is
						easy to see and click*/
}