body
{
	background-color : black;	/*The second part of the "cle set". For this one the colour scheme is black, white and yellow.
								the yellow is the only difference in the colour scheme from the first one. */
	color : yellow;
	font-size : 14pt;
	font-family: impact, "arial black", sans-serif;
}

ol, a
{
	color : white;
}

#Title
{
	text-align : center;
}

#top
{
	text-align : center;
	font-size : 20pt;	/*The sentence itself is also a larger font than the rest of the body. It is also centered so that
						it sticks out*/
}

#TOP
{
	font-size : 25pt; 	/*I made the specific word 'top' larger than the rest of the sentence so that it stands out and is
						easy to see and click*/
}