body
{
	background-color : black;
	color : blue;
	font-size : 14pt;
	font-family : "ink free", gabriola, fantasy; 	/*I chose ink free as the font because the title of the album looks like It
													was written by hand. Ink free is a font that has a similar feel as hand
													written words */
	font-weight : bold;
}

ol, a
{
	color : white;
}

#Title
{
	text-align : center;
}

#top
{
	text-align : center;
	font-size : 20pt;	/*The sentence itself is also a larger font than the rest of the body. It is also centered so that
						it sticks out*/
}

#TOP
{
	font-size : 25pt; 	/*I made the specific word 'top' larger than the rest of the sentence so that it stands out and is
						easy to see and click*/
}