body
{
	background-color : coral; /*I got these two colours from the cardigan Taylor is wearing in the album cover */
	color : maroon;
	font-size : 14pt;
	font-family : "calibri light", "arial narrow", sans-serif;
}

ol, a
{
	color : forestgreen; /* This came from the forest in the background of Taylor */
}

#Title
{
	text-align : center;
}

#top
{
	text-align : center;
	font-size : 20pt;	/*The sentence itself is also a larger font than the rest of the body. It is also centered so that
						it sticks out*/
}

#TOP
{
	font-size : 25pt; 	/*I made the specific word 'top' larger than the rest of the sentence so that it stands out and is
						easy to see and click*/
}