body
{
	background-color : rgb(194, 165, 23); /*The same colour scheme as the whole album. A golden-brown hue */
	color : black;
	font-size : 14pt;
	font-family : "times new roman", arial, serif;
}

ol, a
{
	color : white;
}

#Title
{
	text-align : center;
}

#top
{
	text-align : center;
	font-size : 20pt;	/*The sentence itself is also a larger font than the rest of the body. It is also centered so that
						it sticks out*/
}

#TOP
{
	font-size : 25pt; 	/*I made the specific word 'top' larger than the rest of the sentence so that it stands out and is
						easy to see and click*/
}